@use '../../assets/scss/abstracts/' as *;

.service-box {
    @include flex(center, center);
    position: relative;
    border: 5px solid #1313139d;
    border-radius: 40px;
    overflow: hidden;
    width: 456px;
    flex-grow: 1;

    transition: .1s all ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
    }

    &_background {
        width: 100%;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;

        max-height: 220px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &_overlay {
        position: absolute;
        padding: 25px;
    }

    @media screen and (max-width: 1380px) {
        width: 100%;
    }
}