@use '../../assets/scss/abstracts/' as *;

.auth-box {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    background: #ffffff0b 0% 0% no-repeat padding-box;
    border: 6px solid #00000029;
    border-radius: 30px;
    opacity: 1;
    backdrop-filter: blur(30px);
    gap: 12px;

    padding: 30px 35px;
    width: 560px;
    color: white;

    h1 {
        font-weight: 900;
        font-size: 30px;
    }

    button {
        margin-top: 10px;
    }

    &_links {
        @include flex(flex-start, center);
        width: 100%;
        gap: 20px;
        margin-top: 10px;
        flex-wrap: wrap;

        a {
            font-size: 18px;
            text-decoration: none;
            color: white;
            font-weight: 300;
        }

        @include mobile {
            gap: 10px;
        }
    }

    @include mobile {
        align-items: center;
        width: 95%;
    }
}