.input {
    background: #ffffff09 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
    backdrop-filter: blur(30px);

    outline: none;
    border: none;

    padding: 15px 20px;
    font-size: 20px;
    color: white;
    width: 100%;
    font-weight: 300;

    &::placeholder {
        color: white;
    }
}