@use "../assets/scss/abstracts/" as *;

.popup-element {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000B5;

    * {
        color: white;
    }

    &_container {
        @include flex(center, center);
        height: 100%;
        padding: 20px;
    }

    &_content {
        width: 45%;
        padding: 35px 25px;
        max-width: 800px;
        
        background: #3838385a 0% 0% no-repeat padding-box;
        backdrop-filter: blur(10px);
        border: 5px solid #1c1c1c29;
        border-radius: 40px;

        @include tablet {
            width: 80%;
        }
    }

    &_close {
        @include flex(flex-start, flex-end);
        width: 100%;
        position: absolute;
        padding: 40px;

        img {
            cursor: pointer;
        }
    }
}