@use '../../assets/scss/abstracts/' as *;

.buying-box {
    position: relative;
    background: #0a0a0a5a 0% 0% no-repeat padding-box;
    backdrop-filter: blur(30px);
    border: 5px solid #13131329;
    border-radius: 40px;
    width: 456px;
    flex-grow: 1;

    &_logo {
        width: 100%;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;

        max-height: 120px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &_overlay {
        width: 100%;
        position: absolute;
        padding: 25px;
        transform: translateY(-100%);

        @include mobile {
            @include flex(center, center);
        }
    }

    &_text {
        padding: 12px 25px;
        padding-bottom: 30px;
    }

    .button {
        width: 100%;
        margin-top: 15px;
    }

    @media screen and (max-width: 1380px) {
        width: 100%;

        &_row {
            @include flex(center, center);
        }

        &_button {
            @include flex(center, center);
        }
    }
}