.select {
    width: 100%;
    padding: 40px !important;
    border-radius: 30px;
    border: 1px solid #131313;
    background: #343434;
    font-size: 14px;
    cursor: pointer;
    transition: border 0.2s, box-shadow 0.2s;

    &:focus {
        border-color: #4a90e2;
        outline: none;
        box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.25);
    }
}