@use '../../assets/scss/abstracts/' as *;

.box {
    background: #ffffff0b 0% 0% no-repeat padding-box;
    border: 6px solid #00000029;
    border-radius: 25px;
    opacity: 1;
    backdrop-filter: blur(30px);
    padding: 30px;
    width: 700px;
    height: 400px;
    color: white;
}