@use '../assets/scss/abstracts/' as *;

.auth-layout {
    width: 100vw;
    height: 100vh;

    &_logo {
        @include flex(flex-start, flex-start);
        position: absolute;
        padding: 50px 60px;

        img {
            width: 350px;
        }

        @include mobile {
            @include flex(flex-start, center);
            width: 100%;
        }
    }

    &_content {
        @include flex(center, center);
        position: absolute;
        width: 100%;
        height: 100%;
        color: wheat;
    }
}