@use '../assets/scss/abstracts/' as *;

.main-layout {
    @include flex(flex-start, flex-start);
    width: 100vw;
    height: 100vh;
    color: white;
    
    &_sidebar {
        position: fixed;
        width: 395px;
        height: 100%;
        animation: slideIn .4s;

        @include tablet {
            position: absolute;
            transform: translateX(-395px);
            transition: all .4s ease-in-out;
        }
    }

    &_container {
        padding: 40px 35px;
        margin-left: 410px;
        width: calc(100% - 365px);

        @include tablet {
            width: 100%;
            margin: 0;
        }
    }

    &_topbar {
        @include flex(flex-end, flex-start);
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        h1 {
            width: 100%;
        }

        &_profile {
            @include flex(center, flex-end);
            width: 100%;
            gap: 10px;

            .image {
                width: 60px;
                height: 60px;
                background: white;
                border-radius: 50%;
            }

            .text {
                text-align: right;
            }

            .logout {
                width: 25px;
                cursor: pointer;
            }

            @media screen and (max-width: 920px) {
                display: none;
            }
        }
    }

    &_content {
        margin-top: 25px;
        height: calc(100vh - 220px);
        animation: slideUp .4s;
    }
}

@keyframes slideIn {
    
    0% {
        transform: translateX(-30px) scale(1.008);
        opacity: .5;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }

}

@keyframes slideUp {
    
    0% {
        transform: translateY(20px) scale(1.005);
        opacity: .5;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

}