@use '../../assets/scss/abstracts/' as *;

.server-title {
    @include flex(flex-start, flex-start);
    padding: 25px;
    background: #0a0a0a5a 0% 0% no-repeat padding-box;
    backdrop-filter: blur(30px);
    border: 5px solid #13131329;
    
    border-radius: 40px;
    height: 128px;

    &_left {
        width: 40%;
        height: 100%;
    }

    &_right {
        @include flex(center, flex-end);
        width: 60%;
        gap: 20px;
        height: 100%;
    }

    @media screen and (max-width: 1320px) and (min-width: 1200px) {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        height: auto;

        &_left {
            @include flex(flex-start, center);
            width: 100%;
        }

        &_right {
            width: 100%;
            justify-content: center;
        }
    }

    @media screen and (max-width: 920px) {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        height: auto;

        &_left {
            @include flex(flex-start, center);
            width: 100%;
        }

        &_right {
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}